/* Diseño 1 - Moderno y Minimalista */
.theme-modern {
    --primary-color: #F5F5F5;
    --secondary-color: #575492;
    --text-color: white;
    --sidebar-width: 280px;
    --transition-speed: 0.3s;
}

/* Estilos Base Compartidos */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    transition: all var(--transition-speed);
    overflow-y: auto;
    overflow-x: hidden;
}

h2{
    z-index: 1000;
    color: var(--text-color);
}

body::-webkit-scrollbar {
    width: 0px;
}

.btnAdd, .btnFilter{
    color: var(--text-color);
    background-color: var(--secondary-color);
    z-index: 1000;
}

.btnAdd:hover, .btnFilter:hover{
    background-color: var(--primary-color);
    color: black;
}


@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu {
    --bs-dropdown-bg: #8d8bcc;
    --bs-dropdown-color: var(--text-color);
}

/* Sidebar Moderno */
.sidebar-modern {
    color: var(--secondary-color);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--primary-color);
    background-size: 100% 100%, 20px 20px;
    border-right: 1px solid var(--primary-color);
    transform: translateX(-100%);
    transition: transform var(--transition-speed);
    z-index: 1000;
    padding: 2rem;
}

#sidebarCollapse {
    color: #6d68ff !important;
}

.sidebar-modern i{
    color:#6d68ff !important;
}

.sidebar-modern.active {
    transform: translateX(0);
}


/* Menú Items Modernos */
.menu-modern {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
}

.menu-modern::-webkit-scrollbar {
    width: 0px;
}

.menu-modern li {
    margin: 1rem 0;
}

.menu-modern a {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 12px;
    transition: all var(--transition-speed);
}

.menu-modern a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transform: translateX(10px);
}

.menu-modern i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.menu-modern .submenu {
    font-size: 13px;
    padding-left: 40px;
}

/* Cards Modernas */
.card-modern {
    color : var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    transition: all var(--transition-speed);
    border-left: 4px solid var(--primary-color);
    box-shadow: 0 4px 15px rgb(255, 255, 255);
}

/* Stats Cards */
.stats-card {
    background: linear-gradient(-45deg, var(--primary-color), #4287f5);
    background-size: 200% 200%;
    animation: gradientBG 5s ease infinite;
    color: white;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem;
    transition: all 0.3s;
}

@keyframes gradientBG {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}


/* Search Bar */
.search-modern {
    background: var(--primary-color);
    border: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 100%;
    margin: 1rem 0;
    transition: all var(--transition-speed);
    z-index: 1000;
}

.search-modern:focus {
    outline: none;
    box-shadow: 0 2px 2px 2px var(--primary-color);
}

/* Botón Toggle Tema */
.theme-toggle {
    display: none;
}

/* Toggle Button */
#sidebarCollapse {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 1rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 1001;
    transition: all var(--transition-speed);
}


/* Content Area */
.content-area {
    margin-left: 0;
    padding: 4rem;
    transition: margin-left var(--transition-speed);
}

.content-area.active {
    margin-left: var(--sidebar-width);
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}


/* Responsive Design */
@media (max-width: 768px) {
    .sidebar-modern {
        width: 100%;
    }

    .content-area.active {
        margin-left: 0;
    }
}

.table {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.275);
    overflow-y: auto;
    overflow-x: auto;
    --bs-table-color: var(--text-color); /* Color del texto */
    --bs-table-bg: transparent; /* Color de fondo */
    --bs-table-border-color: white; /* Color del borde */
    --bs-table-accent-bg: #f8f9fa; /* Color de fondo de acento */
    --bs-table-striped-color: #333; /* Color del texto en filas con rayas */
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05); /* Color de fondo en filas con rayas */
    --bs-table-active-color: #333; /* Color del texto en filas activas */
    --bs-table-active-bg: rgba(0, 0, 0, 0.1); /* Color de fondo en filas activas */
    --bs-table-hover-color: #333; /* Color del texto en filas al pasar el ratón */
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075); /* Color de fondo en filas al pasar el ratón */
}

.table img {
    transition: transform 0.2s;
    position: relative;
}

.table img:hover {
    transform: scale(1.6);
}

.table::-webkit-scrollbar {
    width: 0px;
}

.table > :not(caption) > * > * {
    padding: .75rem 1rem; /* Cambiar el relleno */
    color: var(--bs-table-color); /* Usar la variable de color del texto */
    background-color: var(--bs-table-bg); /* Usar la variable de color de fondo */
    border-bottom-width: 1px; /* Cambiar el ancho del borde inferior */
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg); /* Usar la variable de color de fondo */
}

tbody, td, tfoot, th, thead, tr {
    border-color: var(--bs-table-border-color); /* Usar la variable de color del borde */
    border-style: solid;
    border-width: 1px; /* Cambiar el ancho del borde */
    border-bottom-width: 1px; /* Cambiar el ancho del borde inferior */
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    margin: 0 0.25rem;
}

.page-link {
    color: var(--primary-color);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: var(--primary-color);
    border-color: #dee2e6;
}

.book {
    width: 400px;
    height: 500px;
    perspective: 1000px;
    position: relative;
}

.book-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: openBook 3s forwards; /* Efecto de apertura de todo el libro */
    box-shadow: 0 0 300px rgba(0, 0, 0, 1);
}

/* Carátula */
.book-cover.front {
    width: 100%;
    height: 100%;
    background: #4c4b80;
    position: absolute;
    backface-visibility: hidden;
    transform-origin: left;
    transform: rotateY(0deg);
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: openCover 1.5s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Estilo del título en la carátula */
.cover-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* Estilo de todas las páginas */
.book-page {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform-origin: left;
    transform: rotateY(0deg); /* Posición inicial */
    animation: turnPage 1.5s forwards;
}

/* Fondo con líneas en las páginas interiores */
.book-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        #dcdcdc,
        #dcdcdc 1px,
        transparent 1px,
        transparent 20px
    );
    opacity: 0.5; /* Transparencia para suavizar el efecto */
}

/* Animaciones de giro con delays progresivos */
.book-page:nth-child(2) { animation-delay: 1.5s; } /* Primera página */
.book-page:nth-child(3) { animation-delay: 1.8s; }
.book-page:nth-child(4) { animation-delay: 2.1s; }
.book-page:nth-child(5) { animation-delay: 2.4s; }
.book-page:nth-child(6) { animation-delay: 2.7s; }
.book-page:nth-child(7) { animation-delay: 3s; }
.book-page:nth-child(8) { animation-delay: 3.3s; }
.book-page:nth-child(9) { animation-delay: 3.6s; }
.book-page:nth-child(10) { animation-delay: 3.9s; }
.book-page:nth-child(11) { animation-delay: 4.2s; }

/* Animación de giro de cada página */
@keyframes turnPage {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-40deg);
    }
}

/* Animación de la portada */
@keyframes openCover {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(-40deg); z-index: 1000;}
}

/* Efecto 3D para la apertura del libro */
@keyframes openBook {
    0%, 100% { transform: rotateY(0deg); }
    50% { transform: rotateY(-5deg); }
}
